{% comment %} {% block content %} {% endcomment %}
{% load static %}

<form action="" method="post" enctype="multipart/form-data" style='visibility:hidden;' id ='ourform' onsubmit="showLoad();">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" name="submit" value="Process">
</form>
<div id="loading" style='display:none'>
    <img src="{% static 'hsis_sas_merge/loading_wedges.gif' %}" width="64" height="64" alt="Loading.." />
</div>
<div id="dlpath" style='' target="_blank">
    <a href="{{dlpath}}">{{dlpathtext}}</a>
</div>
<div id="dvuppath" style=''>
    <a href="{{dvuppath}}" target="_blank">{{dvuppathtext}}</a>
</div>
<script>
    function showOther() {
        console.log('showOther!');
        console.log(document.getElementById('id_other_dataset').parentElement.parentElement);
        if(document.getElementById('id_dataset').value == 'other' ) {
            document.getElementById('id_other_dataset').parentElement.parentElement.style = "";
            document.getElementById('id_other_state').parentElement.parentElement.style = "";
            document.getElementById('id_other_year').parentElement.parentElement.style = "";
            console.log('yea')
        }
        else {
            document.getElementById('id_other_dataset').parentElement.parentElement.style = "display:none;";
            document.getElementById('id_other_state').parentElement.parentElement.style = "display:none;";
            document.getElementById('id_other_year').parentElement.parentElement.style = "display:none;";
            console.log('hidden')
        }
        //we hide the form on page load to not flicker
        //TODO: the form should use a css class instead and we should remove it with .removeClass
        document.getElementById('ourform').style=''; 
    }
    document.getElementById('id_dataset').addEventListener('change', showOther, false);
    window.onload = showOther;
</script>
<script>
  function showLoad() {
      document.getElementById("loading").style.display = 'block';
  }
</script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

{% comment %} {% endblock content %} {% endcomment %}